<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/astro_style.css">
		</head>


  <body>
    <div id="bg">
      <div id="outer">

	<div id="header">

	  <div id="logo">
	    <h1> <a href="#">Sean Markert</a> </h1>
	  </div>

<!-- NAV BAR -->
	  <div id="nav">
	    <ul>
	      <li class="first active">
		<a href="/">Home</a>
	      </li>
	      <li>
		<a href="/research">Research</a>
	      </li>
	    </ul>
	    <br class="clear" />
	  </div>

	</div>



	<div id="main">

<!-- Right hand side bar-->
	  <div id="sidebar1">

                  <img class="left", src={{page.image}} width="140" alt="" />
                  <p>
                    <em>
                      <font size="2"> {{page.image_text}}</font>
                    </em>
                  </p>

            <br/>
            <br/>

	    <h3>Contact Information</h3>
	    <ul class="linkedList">
	      <li class="first">
                    <a href="https://www.linkedin.com/in/sean-markert">Linkedin</a><br/><br/>
                    <a href="https://www.github.com/markertsean">Github</a><br/><br/>
                    <strong>Email: </strong> markertsean0@gmail.com<br/><br/>
	      </lr>
	    </ul>
	  </div>


<!-- Center Column -->
	  <div id="content">
	    <div id="box1">

              {{content}}

	    </div>
	    <br class="clear" />
	  </div>
  </body>
</html>
