<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/astro_style.css">
		</head>


  <body>
    <div id="bg">

      <div id="outer">

	<div id="header">
	  <div id="logo">
	    <h1> <a href="#">Sean Markert</a> </h1>
	  </div>
        </div>

<!-- NAV BAR -->
	  <div id="nav_upper">
	    <ul>
	      <li class="first active">
		<a href="/">Home</a>
	      </li>
	      <li>
		<a href="/research">Research</a>
	      </li>
	    </ul>
	    <br class="clear" />
	  </div>

      </div>


<!-- Right hand side bar 
                <div id="sidebar1">
           
                  <img class="left", src={{page.image}} width="150" alt="" />
                  <p>
                    <em>
                      <font size="1"> {{page.image_text}}</font>
                    </em>
                  </p>
           
                </div>

-->

	<div id="main">

<!-- Right hand side bar-->
	  <div id="sidebar1">
	    <h3>Contact Information</h3>
	    <ul class="linkedList">
	      <li class="first">
                    <a href="/">Sean Markert</a><br/><br/>
                    <a href="https://www.linkedin.com/in/sean-markert">Linkedin</a><br/><br/>
                    <a href="https://www.github.com/markertsean">Github</a><br/><br/>
                    <strong>Email: </strong> markertsean0@gmail.com<br/><br/>
	      </lr>
	    </ul>
	  </div>


<!-- Center Column -->
	  <div id="content">
	    <div id="box1">
	      <h2>Welcome!</h2>
	      <p>
		I am Ph.D. recipient in Astronomy from New Mexico State University, working with 
		<a href="http://astronomy.nmsu.edu/directory/faculty/name/anatoly-klypin/">Professor Anatoly Klypin</a>. 
		My thesis work was to study the systematic effects of weak lensing density profile fitting of galaxy clusters,
		using simulations from the <a href="http://www.multidark.org/">MultiDark suite</a>.
	      </p>
	      <p>
		If you are interested in weak lensing or simulation surface density codes, check out my 
		<a href="code.html">codes</a> page or my 
		<a href="https://github.com/markertsean">Github</a> page.
	      </p>
	      <p>
		I've also created a <a href="https://www.kaggle.com/markertsean">Kaggle profile</a>, 
		and am excited to start taking on their competitions. If you're looking for a teammate, I'm looking to explore and learn!
	      </p>

	    </div>
	    

<!--	    <div id="box2">
	    </div>
	    <div id="box3">
	    </div>-->
	    <br class="clear" />
	  </div>
  </body>
</html>
<!--
		<body>
      
			<div class="container">
			
			{{ content }}
<!--                  <img class="left", src="images/me/Gila.jpg" width="1500" alt="" />

			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:markertsean0@gmail.com">email</a></li>
	        		<li><a href="https://github.com/markertsean">github.com/markertsean</a></li>
				</ul>
			</footer>
		</body>
	</html>
-->
